.btn {
    background-color: grey;
    color: aliceblue;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-family: inherit;
    line-height: 2rem;
    cursor: pointer;
}

.btn:hover{
    line-height: 2.5rem;
}
